<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/businfo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusInfo"
        android:name=".App"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCQyJDh3fPjgMo0s-G4UHRsF9YZwwpmqzM" />
        <activity
            android:name=".feature.main.MainActivity"
            android:exported="true"
            android:label="@string/businfo"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/AppTheme"
            android:name="kr.co.hs.businfo.feature.main.BusStationInfoActivity"
            android:label="@string/bus_station_info">
        </activity>
        <activity
            android:theme="@style/AppTheme"
            android:name="kr.co.hs.businfo.feature.main.NosunActivity"
            android:label="@string/nosun">
        </activity>
        <activity
            android:theme="@style/AppTheme"
            android:name="kr.co.hs.businfo.feature.main.BusDriverSetting"
            android:label="@string/busdriversetting" />
        <activity
            android:theme="@style/AppTheme"
            android:name="kr.co.hs.businfo.feature.BusDriver.BusDriverActivity"
            android:label="@string/busdriveractivity" />
        <activity
            android:theme="@style/AppTheme"
            android:name="kr.co.hs.businfo.feature.BusDriver.BusDriverAuthentication"
            android:label="@string/busdriverauthentication" />
    </application>

</manifest>